<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="bst"
            icon="icons/file-bst.png"
            contributorClass="org.extex.exbib.editor.bst.BstActionContributor"
            class="org.extex.exbib.editor.bst.BstEditor"
            id="org.extex.exbib.editor.editors.ExBibEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.extex.tex"
            name="%category.name">
      </category>
      <view
            category="org.extex.tex"
            class="org.extex.exbib.bstnavigator.BstNavigator"
            icon="icons/file-bst.png"
            id="org.extex.exbib.bstnavigator.BstNavigator"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="org.extex.tex"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/folder-indexed.gif"
            id="org.extex.exbib.navigator.Navigator"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.extex.exbib.navigator.Navigator ">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.extex.exbib.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.extex.exbib.navigator.Navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.extex.exbib.navigator.ContentProvider"
            icon="icons/folder-indexed.gif"
            id="org.extex.exbib.navigator.Content"
            labelProvider="org.extex.exbib.navigator.LabelProvider"
            name="%navigatorContent.name"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="properties">
                  </test></and>
               <instanceof
                     value="org.extex.exbib.navigator.ContentNode">
               </instanceof></or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.extex.exbib.navigator.ContentNode">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <commonFilter
            class="org.extex.exbib.navigator.Filter"
            id="ExBib-Editor.commonFilter1"
            name="%commonFilter.name">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.extex.exbib.editor.bst.properties.ExTeXPreferences"
            id="org.extex.exbib.editor.bst.properties.ExTeXPreferences"
            name="%page.name">
      </page>
      <page
            category="org.extex.exbib.editor.bst.properties.ExTeXPreferences"
            class="org.extex.exbib.editor.bst.properties.BstEditorPreferences"
            id="org.extex.exbib.editor.bst.properties.BstEditorPreferences"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.extex.exbib.launcher.BstLauncher"
            delegateDescription="%launchConfigurationType.delegateDescription"
            delegateName="%launchConfigurationType.delegateName"
            id="org.extex.exbib.launcher.BstLauncher"
            modes="run"
            name="%launchConfigurationType.name"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
         <fileExtension
               default="true"
               extension="bst">
         </fileExtension>
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.extex.exbib.launcher.ui.BstLaunchGroup"
            id="org.extex.exbib.launcher.BstLaunchGroup"
            type="org.extex.exbib.launcher.BstLauncher">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.extex.exbib.launcher.BstLauncher"
            icon="icons/Bib-Prog.png"
            id="ExBib-Editor.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.extex.exbib.launcher.ui.BstLaunchShortcut"
            icon="icons/Bib-Prog.png"
            id="ExBib-Editor.shortcut1"
            label="BST Program"
            modes="run">
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <perspective
               id="org.eclipse.ui.resourcePerspective">
         </perspective>
         <contextualLaunch>
            <contextLabel
                  label="Run ExBib"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
